# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.userosscache

# Gradle files
.gradle/
.classpath
.project
.settings/
bin/

# Build output
build/
.sonar
target/
bw-outputs/
.scannerwork

fe/node_modules
fe/.env

# IntelliJ
.idea
*.iml

# MSBuild
obj/

# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# vi
*~

# General
log/
*.log